.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    max-width: 100%;
    height: 50px;
    background-color: black;
}

header h1 {
    float: left;
    font-size: 1.5em;
    color: #fff;
    padding: 10px 10px;
}

header img {
    height: 40px;
    margin: 0 auto;
    padding: 5px;
    float: left;
}

header nav {
    float: right;
    margin: 15px;
}

header a {
    color: #fff;
    margin: 5px;
    font-size: .8em;
    text-decoration: none;
}

a:hover {
    background-color: #cc0000;
    color: #000;
}

#jumbotron {
    width: 100%;
    height: 230px;
    background: linear-gradient(to bottom, rgba(10, 10, 20, 0.8) 0%, rgba(0, 0, 0, 0.3) 100%), url('../images/Atari2600BoxArtPoster-web.jpg') no-repeat center;
    padding: 200px 0;
    text-align: center;
    color: #fff;
    margin-top: 30px;
}
    
#jumbotron h2 {
    margin: 0 auto;
    font-size: 2.5em;
    max-width: 700px;
    font-weight: 700;
}

#jumbotron p {
    background-color: #000;
    color: #fff;
    margin: 0 auto; 
    margin-top: 20px;
    padding: 30px;
    font-size: 1.1em;
    max-width: 300px;
    font-weight: 200; 
    border-radius: 25px;
}

#info {
    width: 100%;
    height: 300px;
    background-color: #000;
    margin-top: 30px;
}

#info div {
    float: left;
    max-width: 30%;
}

#nerd img {
    max-height: 300px;
    margin: 0 auto;
    padding: 0 50px;
}

#info aside {
    max-width: 70%;
    float: right;
    margin: 0 auto;
}

aside h3 {
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding: 50px 100px 30px;
    margin: 0 auto;
}

aside p {
    color: #fff;
    font-size: .8em;
    font-weight: 200;
    text-align: center;
    padding: 30px 100px 30px;
    max-width: 500px;
    font-family: "Verdana", sans-serif;
    margin: 0 auto;
    line-height: 150%;
}

#games {
    width: 100%;
    height: 400px;
    background-color: #333;
    margin-top: 30px;
}

.columns {
    float: left;
    height: 500px;
    width: 25%;
    overflow: hidden;
    text-align: center;
}

.columns img {
    width: 220px;
    margin: 0 auto;
    padding-top: 30px;
}

.columns h3 {
    margin: 0 auto;
    padding-top: 20px;
    max-width: 180px;
    font-family: "Verdana", sans-serif;
    text-align: center;
    font-size: 1.1em;
    font-weight: 800;
    color: #fff;
    font-style: italic;
}
    

.columns p {
    margin: 0 auto;
    padding-top: 20px;
    max-width: 180px;
    font-family: "Verdana", sans-serif;
    text-align: center;
    font-size: .8em;
    line-height: 200%;
    color: #fff;
}
    
    
    

    
    
    










    