html, body {
    height: 100%;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-bottom: 3px solid #fff;
    font-family: "Comfortaa";
    font-weight: 700;  
    color: #fff;
}

.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 50px;
    border-bottom: 3px solid #fff;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black;
    height: 50px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav >li>a {
    font-family: "Comfortaa";
    font-weight: 400;
    color: #fff;
    padding-bottom: 15px;
}

/*Jumbotron section*/
    
    
#jumbo {
    background: url('../img/valley.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: table;
    width: 100%;
}

#jumbo > div {
    display: table-cell;
    vertical-align: middle;
}
    

#jumbo h2 {
    padding: 0 0 20px;
    font-family: "Comfortaa", serif;
    font-weight: 400;
    color: #fff;
}

#jumbo h1 {
    padding: 0 0 50px;
    font-size: 5em;
    font-family: "Righteous";
    font-weight: 700;
    color: #fff;
}

#jumbo button {
    padding: 10px 20px;
    background-color: #000;
    font-size: 1.2em;
    font-family: "Comfortaa";
    font-weight: 400;
    color: #fff;
    width: 20%;
    border-radius: 10px;
}

.titlesrt, .titlesrt2, .titlesrt3, .titlesrt4 {
    text-align: right;
    padding-bottom: 10px;
}

.titlesrt h3, .titlesrt2 h3, .titlesrt3 h3, .titlesrt4 h3 {
    font-family: "Righteous";
    font-size: 2.8em;
    font-weight: 400;
    color: #003366;
}

/*phone*/
@media (max-width: 768px) {
    #jumbo h1 {
    font-size: 3em;
    font-family: "Comfortaa";
    font-weight: 700;
    color: #fff;
    }
        
    #jumbo h2 {
    font-size: 1.5em;
}
    #jumbo button {
        font-size: 1em;
        width: 15%;
    }
}

/*tablet*/
@media (min-width: 769px) and (max-width: 992px) {
    
     .opaque-navbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}
    
    #jumbo h1 {
    font-size: 4em;
    font-family: "Righteous";
    font-weight: 700;
    color: #fff;
}
    
}

.overlay {
  content: " ";
  z-index: 1;
  display: block;
  height: inherit;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.coding {
    background: url('../img/css_code2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
}

.thestory {
    font-size: 1.8em;
    font-family: "Sintony";
    font-weight: 700;
    color: #fff;
    margin: 0 auto;
}

.thestory p {
    padding: 20px 0 5px 20px;
}

.icon {
    text-align: center;
    font-size: 8em;
}

.space {
    height: 20px;
    background-color: #fff;
}

.theplayers h4 {
    font-family: "Righteous";
    font-size: 1.8em;
    color: #003366;
    padding-top: 10px;
}
        
.theplayers p {
    font-family: "Sintony", sans-serif;
    color: #000;
    line-height: 180%;
    padding-top: 10px;
}

.songs1 {
    background: url('../img/isabel_woah.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
}

.lyrics {
    color: #fff;
}

.lyrics h3 {
    font-family: "Righteous";
    padding: 10px 0 10px;
    font-size: 5em;
}

.songs2 {
    background: url('../img/the_baron.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
}

.footy {
    background-color: #003366;
    height: 200px;
}

iframe {
    padding: 10px 0 10px;
}



    
















    


